@tailwind base;
@tailwind components;
@tailwind utilities;
/* @tailwind variants; */

:root {
  --radial-gradient-background: 250, 250, 250;
  --solid-color-background: 15, 15, 15;
  --overlay-color: 255, 255, 255;
}
@layer components {
  @keyframes pink-background-slide {
    50% {
      transform: translate(-30px, -10px);
    }
  }
  @keyframes blue-background-slide {
    50% {
      transform: translate(30px, -10px);
    }
  }
  @keyframes yellow-background-slide {
    50% {
      transform: translate(0, 20px);
    }
  }
  .animate-pink-background-slide {
    animation: pink-background-slide 3s infinite both normal;
  }
  .animate-blue-background-slide {
    animation: blue-background-slide 3s infinite both normal;
  }
  .animate-yellow-background-slide {
    animation: yellow-background-slide 3s infinite both normal;
  }

  .Mui-active > .MuiStepConnector-line {
    @apply border-green-800;
  }
}

::-webkit-scrollbar {
  width: 2px;
  @apply m-0.5;
}

.dark ::-webkit-scrollbar-thumb {
  @apply rounded-md bg-slate-500;
}
