.main {
  grid-template-areas: "profile" "academic" "installments";
  grid-template-columns: 1fr;
  @apply grid w-screen gap-4 md:gap-6 lg:gap-7;
}

@media (min-width: 600px) {
  .main {
    grid-template-areas: "profile installments" "academic installments";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.academic_progess {
  grid-area: "academic";
}
.profile {
  grid-area: "profile";
}
.fees {
  grid-area: "installments";
}
